.sc-dlfnuX{
  align-items: center;
  border: 0;
  border-radius: 8px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: 'Common Pixel', sans-serif;
  font-size: 30px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 200px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

p{
    font-family: 'SF Pixelate', sans-serif;
    text-shadow:0 0 20px black,2px 3px 3px #141414, 0 0 100px #00D4D1;color:white;
    font-size: 25px;
    justify-content: center;
    
 
}
.MuiButtonBase-root{
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    color: white;
}

.MuiButton-label{
  color: white;
}

html { 
    height: 100%;
    
 }
body { 
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(Background_mint.png) no-repeat center fixed;
}



